<h1 class="afiH2">Mantenimiento de persona</h1>
<mat-card fxLayout="row" class="aut-registro">
    <div class="prevBoxCtrl">
        <button mat-button class="btnRed" (click)="add()" >Agregar</button>
      </div>
    <div fxFlex="100">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="nro">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i= index"> {{i +1}} </td>
            </ng-container>

             <!-- Position Column -->
             <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
              </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="paterno">
              <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="materno">
              <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef> DNI </th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>

                   <!-- Symbol Column -->
                   <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef> Edad </th>
                    <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-icon  style="cursor: pointer" matTooltip="Agregar upstream">add
                      </mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                      <mat-icon style="cursor: pointer" matTooltip="Eliminar persona" (click)="delete(element,i)" >
                        delete
                      </mat-icon>
                      <mat-icon style="cursor: pointer" matTooltip="Editar persona" (click)="edit(element,i)">
                        edit
                      </mat-icon>
                    </td>
                  </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

      </div>

</mat-card>

