<section style="margin: 15px;">
  <div>
    <div class="redPopTitle" fxLayout="row" fxLayoutAlign="start center">
     Eliminar persona
    </div>
    <div fxLayout="row wrap" style="overflow-y: auto; max-height: 500px;">
      <form [formGroup]="formGruop" autocomplete="off">
        <p>¿Eliminar persona seleccionada?</p>
      </form>
    </div>
    <div class="prevBoxCtrl txtCenter">
      <button mat-button class="btnGray" mat-dialog-close>Cancelar</button>
      <button mat-button class="btnRed" (click)="delete(formGruop)" >Aceptar</button>
    </div>
  </div>
</section>
